<div class="jumbotron jumbotron-fluid">
  <div class="container">
<%= form_with model: @event, :url => admin_event_path, class:"card d-flex" do |f| %>

<div class="d-flex">
	<div class="form-group card-body text-center">
	<%= f.label :title, "Nom de l'évènement" %>
		<%= f.text_field :title, class:"form-control" %>
	</div>
	<div class="form-group card-body text-center">
	<%= f.label :start_date, "Date (du début) de l'évènement" %>
		<%= f.date_field :start_date, class:"form-control" %>
	</div>
</div>

<div class="d-flex">
	<div class="card-body text-center">
	<%= f.label :duration, "Durée (minutes)" %>
		<%= f.number_field :duration, in: 5..200, step: 5, class:"form-control" %>
	</div>
	<div class="card-body text-center">
	<%= f.label :description, "Description" %>
		<%= f.text_area :description, class:"form-control" %>
	</div>
</div>

<div class="d-flex">
	<div class="card-body text-center">
	<%= f.label :price, "Prix" %>
		<%= f.number_field :price, in: 1..1000, step: 1, class:"form-control" %>
	</div>
	<div class="card-body text-center">
	<%= f.label :location, "Lieu" %>
		<%= f.text_field :location, class:"form-control" %>
	</div>
</div>

	<%= f.submit "Mettre à jour l'évènement", class:"btn btn-success" %>
<% end %>
</div>
</div>
