<%= render "devise/shared/error_messages", resource: resource %>

<div class="card mx-auto col-lg-4 pt-3 my-3">
<h1 class="mb-3">Éditer</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "form", f: f %>
  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Mot de passe actuel (pour confirmer)", class:"form-control" %>
  </div>
  <%= f.submit "Mettre à jour", class:"btn btn-primary col-12 mb-2" %>
<% end %>

  <div class="form-row mb-3">
    <div class="form-group col-md-6 mt-2 mb-2">
      <%= button_to "Supprimer le compte", registration_path(resource_name), class:"btn btn-danger col-12", data: { confirm: "Êtes vous certain ?" }, method: :delete %>
    </div>
    <div class="form-group col-md-6 mt-2 mb-2">
      <%= link_to "Retour au profil", user_path(resource), class:"btn btn-warning text-dark col-12" %>
    </div>
  </div>

</div>