<div class="jumbotron jumbotron-fluid">
  <div class="container d-flex flex-row">
  	<div class="card">
  		<% if @user.avatar.attached? %>
				<%= image_tag @user.thumbnail  %>
			<% end %>
			<%= form_tag user_avatars_path(@user), multipart: true do %>
				<%= file_field_tag :avatar %>
				<%= submit_tag "Envoyer", class:"btn btn-secondary" %>
			<% end %>
		</div>
    <div class="card flex-grow-1">
  		<div class="card-body">Nom : <%= @user.last_name %></div>
  		<div class="card-body">Prènom : <%= @user.first_name %></div>
  		<div class="card-body">Email : <%= @user.email %></div>
  		<div class="card-body">Description : <%= @user.description %></div>
  		<div class="card-footer"><%= link_to "Éditer ou supprimer", edit_user_registration_path %></div>
		</div>
  </div>
</div>

<% if @user.events.count >= 1%>
	<h1 class="text-center"> Vos évènements : </h1>
	<% @user.events.each do |event| %>
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3"><%= event.title %></h1>
				<p><%= link_to "Page de l'évènement", event_path(event), class:"btn btn-primary btn-lg", role:"button" %></p>
			</div>
		</div>
	<% end %>
<% end %>

