<div class="card mx-auto col-lg-6 py-2 my-5">
	<h1 class="mb-3">Your event</h1>
	<%= form_for @event, :html => { :multipart => true } do |f| %>
		<div class="form-group">
			<%= f.text_field :title, class:"form-control", placeholder:"Nom de l'event (Entre 5 et 80 caractères)" %>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<%= f.number_field :duration, in: 5..200, step: 5, class:"form-control", placeholder:"Durée (multiple de 5)" %>
			</div>

			<div class="form-group col-md-6">
				<%= f.date_field :start_date, class:"form-control" %>
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<%= f.number_field :price, in: 1..1000, step: 1, class:"form-control", placeholder:"Prix (1-1000)" %>
			</div>
			<div class="form-group col-md-6">
				<%= f.text_field :location, class:"form-control", placeholder:"Lieu" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.text_area :description, class:"form-control", placeholder:"Description (Entre 20 et 1000 caractères)" %>
		</div>

		<div class="form-group">
			<%= f.label :event_picture, "Image de l'évènement, format 16/9 paysage : ", class:"" %>
			<%= f.file_field :event_picture, class:"form-control" %>
		</div>

		<%= f.submit "Valider", class:"btn btn-primary col-12 mb-2" %>
	<% end %>
</div>