
	<span class="badge badge-pill badge-primary"><%= @event.start_date.strftime("%d/%m/%Y") %></span>
	<span class="badge badge-pill badge-primary"><%= @event.location %></span>
	<span class="badge badge-pill badge-primary"><%= @event.duration %> mn</span>
	<span class="badge badge-pill badge-primary"><%= @event.price %>€</span>
	<h1 class="text-center"><%= @event.title %> <p class="h4">by <%= @event.user.first_name %></p></h1>
	<p class="p-3"><%= @event.description %></p>
	<ul>
		<li>Le : <%= @event.start_date.strftime("%d/%m/%Y") %></li>
		<li>Lieu : <%= @event.location %></li>
		<li>Durée : <%= @event.duration %> minutes</li>
		<li>Prix : <%= @event.price %>€</li>
	</ul>
	<div class="d-flex justify-content-center flex-wrap">
		<a href="#" class="btn btn-primary m-2">Share</a>
		<%= button_to "S'inscrire", event_create_path(event_id: @event.id), class:"btn btn-primary m-2", remote: true if current_user.not_guest_nor_admin?(@event) %>
		<% if current_user.is_global_admin? %>
	    <%= link_to "Éditer l'event", edit_admin_event_path(@event), class:"btn btn-warning m-2 text-dark" %>
			<%= link_to "Supprimer l'event", admin_event_path(@event), method: :delete, class:"btn btn-danger m-2" %>
    <% end %>
    <%= link_to "Mon espace admin", event_attendances_path(@event) , class:"btn btn-warning m-2 text-dark" if current_user.is_admin?(@event) %>
	</div>

